@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: 'Questrial', sans-serif;
}

@layer utilities {
  .bg-gradient {
    /* @apply bg-purple-700 ; */
    @apply bg-gradient-to-br via-purple-700 to-cyan-500 from-yellow-500 ;
  }
  .bg-gradient-btn {
    @apply  bg-yellow-400  px-3 py-2 text-black rounded-lg;
  }
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center
  }
}


#cally1 {
  anchor-name: --cally1;
}
#cally-popover1 {
  position-anchor: --cally1;
}